<div class="page-body" ng-controller="AutoBackupCtrl" ng-init="getBackupSchedules()">
    <div class="row">
        <div class="col-sm-12">
            <!-- Basic Form Inputs card start -->
            <div id="parent-container">
                <!--Delete popup-->
                <div class="ui mini modal deletePopup" id="inputPopup">
                    <i class="close icon"></i>
                    <div class="header">
                        Delete Schedule
                    </div>
                    <div class="content">
                        <form class="ui tiny form">
                            <div class="field">
                                <label style="text-align: center;">Are you sure want to delete this schedule?</label>
                            </div>
                        </form>
                    </div>
                    <div class="actions">
                        <button class="ui labeled red icon button" ng-click="deleteSchedule()">
                            <i class="trash alternate icon"></i>
                            Delete
                        </button>
                        <button class="ui button" ng-click="hideDeletePopup()">No</button>
                    </div>
                </div>

                <!--add schedule popup-->
                <div class="ui tiny modal addPopup" id="inputPopup">
                    <i class="close icon"></i>
                    <div class="header" style="padding: 0; margin: 25px 15px 0 25px">
                        Add Schedule
                    </div>
                    <div class="content" style="max-height:fit-content">
                        <form class="ui mini form">
                            <div class="field">
                                <div class="ui green floating dropdown labeled search icon button" ng-click="dropdown()" ng-init="getDatabaseList()" style="float: left; margin-bottom: 1em">
                                    <select class="ui search selection dropdown" ng-model="Database.name" id="dbSelect">
                                        <option class="item" ng-repeat="d in DatabaseList" value="{{d.name}}">{{d.name}}</option>
                                    </select>
                                    <i class="database icon"></i>
                                    <input type="hidden" ng-model="Database.name" style="color: white; font-weight: bold;">
                                    <div class="default text">Select Database</div>
                                    <div class="menu">
                                        <div class="item" ng-repeat="d in DatabaseList" data-value="{{d.name}}">{{d.name}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="fields">
                                    <div class="twelve wide field">
                                        <div class="ui big left icon input">
                                            <i class="folder open icon"></i>
                                            <input name="directory" autocomplete="off" placeholder="Backup Directory" id="saveDir" class="form-control" ng-keydown="$event.keyCode === 13 && $event.preventDefault()" required />
                                        </div>
                                    </div>
                                    <div class="four wide field">
                                        <div class="ui big left input">
                                            <input type="time" placeholder="Time" id="timepicker" value="00:00">
                                        </div>
                                    </div>
                                </div>
                                <span>*Do not include trailing slash in directory.</span>
                            </div>
                            <div class="field">
                                <div style="border:1px solid green; border-radius: 15px; padding: 15px;">
                                    <h4>Frequency</h4>
                                    <div class="ui big middle aligned selection list">
                                        <div class="item active" ng-click="setFrequency('daily')" id="daily">
                                            <div class="col">
                                                <i class="calendar alternate outline icon"></i>
                                                <b>Daily</b>
                                            </div>
                                            <div class="col">
                                                <p>Backup of database will be scheduled daily.</p>
                                            </div>
                                        </div>
                                        <div class="item" ng-click="setFrequency('weekly')" id="weekly">
                                            <div class="col">
                                                <i class="calendar check outline icon"></i>
                                                <b>Weekly</b>
                                            </div>
                                            <div class="col">
                                                <p>Backup of database will be scheduled once in a week.</p>
                                                <div class="ui small selection dropdown" style="display:none" ng-click="dropdown()" id="dayDropdown">
                                                    <select class="ui search selection dropdown" ng-model="day" id="daySelect">
                                                        <option class="item" value="Sunday">Sunday</option>
                                                        <option class="item" value="Monday">Monday</option>
                                                        <option class="item" value="Tuesday">Tuesday</option>
                                                        <option class="item" value="Wednesday">Wednesday</option>
                                                        <option class="item" value="Thursday">Thursday</option>
                                                        <option class="item" value="Friday">Friday</option>
                                                        <option class="item" value="Saturday">Saturday</option>
                                                    </select>
                                                    <input type="hidden" ng-model="day" name="day">
                                                    <i class="dropdown icon"></i>
                                                    <div class="default text">Day of Week</div>
                                                    <div class="menu">
                                                        <div class="item" data-value="Sunday">Sunday</div>
                                                        <div class="item" data-value="Monday">Monday</div>
                                                        <div class="item" data-value="Tuesday">Tuesday</div>
                                                        <div class="item" data-value="Wednesday">Wednesday</div>
                                                        <div class="item" data-value="Thursday">Thursday</div>
                                                        <div class="item" data-value="Friday">Friday</div>
                                                        <div class="item" data-value="Saturday">Saturday</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div style="border:1px solid green; border-radius: 15px; padding: 15px;">
                                    <h4>Backup Type</h4>
                                    <div class="ui big middle aligned selection list">
                                        <div class="item active" ng-click="setType('full')" id="full">
                                            <div class="col">
                                                <i class="bi bi-layers-fill"></i>
                                                <b>Full</b>
                                            </div>
                                            <div class="col">
                                                <p>Complete backup of all the data in a database.</p>
                                            </div>
                                        </div>
                                        <div class="item" ng-click="setType('partial')" id="partial">
                                            <div class="col">
                                                <i class="bi bi-layers-half"></i>
                                                <b>Partial</b>
                                            </div>
                                            <div class="col">
                                                <p>Backup of only the data that has changed since the last full backup, it captures only the changes made to the database after the last full backup.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="ui red message" id="add-message-container" style="display:none">
                                <div class="content">
                                    <p id="add-message"></p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="actions">
                        <div class="ui green animated button" ng-click="scheduleAutoBackup()" tabindex="0">
                            <div class="visible content">Schedule</div>
                            <div class="hidden content">
                                <i class="plus icon"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Basic Form Inputs card start -->
                <div class="card main-card">
                    <div class="ui float message" id="message-container">
                        <div class="content">
                            <p id="message"></p>
                        </div>
                    </div>
                    <div class="card-header">
                        <button class="ui green labeled icon button" ng-click="showAddPopup()" style="float: left">
                            <i class="plus icon"></i>
                            Add Schedule
                        </button>
                        <h3 style="margin-bottom: 0; margin-top: 0px; padding-top: 6px"><i class="clock icon" style=" font-size: 1.5em; vertical-align: middle;"></i>Schedule Backup</h3>
                    </div>

                    <div style="background-color: white; height: 56vh;">
                        <div class="scrollbar ui grid" id="table-parent-container" style="margin-top: 1.25rem !important; height: 85vh; max-height: 85vh;">
                            <div style="height: 46vh; max-height: 46vh; width: 100%; transition: height 0.3s ease-out, padding 0.3s ease-out" id="table-container">
                                <div class="table-responsive" style="max-height: 76vh; height: auto; width: 100%; box-shadow: 0 0px 5px #aaaaaa; transition: max-height 0.3s ease-out">
                                    <table class="ui striped table green main-table selectable" id="example-2" ng-table="ScheduleParams" show-filter="true">
                                        <tbody>
                                            <tr ng-repeat="Schedule in $data">
                                                <td data-title="'Sr.No'" filter="{$index: 'text'}" sortable="'$index'" style="border-top:none;"><label>{{ $index + 1 }}</label></td>
                                                <td data-title="'Database'" filter="{DB: 'text'}" sortable="'DB'" style=" border-top: none;"><label>{{Schedule.DB}}</label></td>
                                                <td data-title="'Job Name'" filter="{JobName: 'text'}" sortable="'JobName'" style=" border-top: none;"><label>{{Schedule.JobName}}</label></td>
                                                <!--<td data-title="'Frequency'" filter="{Frequency: 'text'}" sortable="'Frequency'" style=" border-top: none;"><label>{{Schedule.Frequency}}</label></td>
                                                <td data-title="'Backup Type'" filter="{BackupType: 'text'}" sortable="'BackupType'" style=" border-top: none;"><label>{{Schedule.BackupType}}</label></td>-->
                                                <td data-title="'Next Run Date'" filter="{NextRunDate: 'text'}" sortable="'NextRunDate'" style=" border-top: none;"><label>{{Schedule.NextRunDate}}</label></td>
                                                <td data-title="'Next Run Time'" filter="{NextRunTime: 'text'}" sortable="'NextRunTime'" style=" border-top: none;"><label>{{Schedule.NextRunTime}}</label></td>
                                                <td data-title="'Enabled'" filter="{Enabled: 'text'}" sortable="'Enabled'" style=" border-top: none;"><label>{{Schedule.Enabled}}</label></td>
                                                <td data-title="'Actions'" style=" border-top: none;">
                                                    <div layout="row">
                                                        <span flex></span>
                                                        <button class="ui icon red button" ng-click="showDeletePopup(Schedule)" data-inverted="" data-tooltip="Delete Schedule" data-position="top right" style="border-radius: 15px; padding: 13.5px" fdprocessedid="lha97d">
                                                            <i class="trash alternate icon"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="chart-item" style=" height: auto;">
                                <div style="box-shadow: 0 0px 5px #aaaaaa; width: 100%; height: 50px; transition: padding 0.3s ease-out 0s; border-radius: 15px; background: white; overflow: hidden;" id="chart-parent">
                                    <div class="card-header" style="height: 50px !important; padding: 7px 20px;">
                                        <div id="chart-options">
                                            <div class="ui blue icon button" style="float: left;" id="resetChartButton" fdprocessedid="yem6kv" ng-click="GetAutoBackupLogs()">
                                                <i class="undo alternate icon"></i>
                                            </div>
                                        </div>
                                        <div class="ui icon button" style="float: right;" id="resetChartButton" fdprocessedid="yem6kv" ng-click="changeView()">
                                            <i class="angle icon" ng-class="{'down' : showLog, 'up' : !showLog}"></i>
                                        </div>
                                        <h3 style="text-align: center;margin-bottom: 0; margin-top: 0px; padding-top: 6px">Logs</h3>
                                    </div>
                                    <div style="float: left; width: 100%; height: 93%; padding-top: 10px;" id="chart-div">
                                        <div class="table-responsive" style=" border: 2px solid lightgrey; max-height: 100%">
                                            <table class="ui striped table green main-table selectable" id="example-2" ng-table="LogParams">
                                                <tbody>
                                                    <tr ng-repeat="Log in $data">
                                                        <td data-title="'Job'"><label>{{Log.JobName}}</label></td>
                                                        <td data-title="'Step'"><label>{{Log.StepName}}</label></td>
                                                        <td data-title="'Status'" style=" display: flex; justify-content: center;" >
                                                            <i title="{{Log.RunStatus}}" style="font-size: 1.3rem; width: 100%; height: 100%;" class="icon" ng-class="{'Succeeded' : 'bi bi-check-lg', 'Failed' : 'bi bi-x', 'Retry' : 'bi bi-arrow-clockwise', 'Cancelled' : 'bi bi-x-circle', 'In Progress' : 'bi bi-clock'}[Log.RunStatus]"></i>
                                                        </td>
                                                        <td data-title="'Date/Time'"><label>{{Log.RunDateTime}}</label></td>
                                                        <td data-title="'Message'"><label title="{{Log.Message}}">{{Log.Message  | limitTo:135}}...</label></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>