<div class="page-body" ng-controller="CredentialAnalyticsCtrl" ng-init="GetCredentialAnalytics()">
    <div class="row">
        <div class="col-sm-12">
            <div id="parent-container">
                <div class="card main-card">
                    <div class="card-header">
                        <div class="ui dropdown labeled icon button" ng-click="GetCredentialAnalytics()" style="float: left; padding-bottom: 14px;">
                            Refresh
                            <i class="sync alternate white link icon"></i>
                        </div>
                        <div>
                            <h3 style="margin-bottom: 0; margin-top: 0px; padding-top: 6px"><i class="users icon" style=" font-size: 1.5em; vertical-align: middle;margin-right:10px"></i>Credential Analytics</h3>
                        </div>
                    </div>
                    <div style="background-color: white; height: 56vh;">
                        <div class="scrollbar ui grid" id="table-parent-container" style="margin-top: 1.25rem !important; height: 85vh; max-height: 85vh;">
                            <div style="height: 46vh; max-height: 46vh; width: 100%; transition: height 0.3s ease-out" id="table-container">
                                <div class="table-responsive" style="max-height: 46vh; height: auto; width: 100%; box-shadow: 0 0px 5px #aaaaaa; transition: max-height 0.3s ease-out">
                                    <table class="ui striped table green main-table selectable myLefter" id="example-2" ng-table="CredentialParams" show-filter="true">
                                        <tbody>
                                            <tr ng-repeat="Credential in $data">
                                                <td data-title="'No.'" filter="{$index: 'text'}" sortable="'$index'" style="border-top:none;"><label>{{ $index + 1 }}</label></td>
                                                <td data-title="'Login'" filter="{loginame: 'text'}" sortable="'loginame'" style=" border-top: none;"><label>{{Credential.loginame}}</label></td>
                                                <td data-title="'Database'" filter="{dbname: 'text'}" sortable="'dbname'" style=" border-top: none;"><label>{{Credential.dbname}}</label></td>
                                                <td data-title="'Connections'" filter="{noofconnections: 'text'}" sortable="'noofconnections'" style=" border-top: none;"><label>{{Credential.noofconnections}}</label></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="bottom-container-item">
                                <div style="box-shadow: 0 0px 5px #aaaaaa; width: 100%; height: 100%; transition: padding 0.3s ease-out 0s; border-radius: 15px; padding: 15px; background: white; overflow: hidden;" id="chart-parent">
                                    <div class="card-header" style="height: 50px !important; padding: 7px 20px;">
                                        <div id="left-element-set" style="float: left; ">
                                            <div class="ui green floating dropdown labeled icon button" ng-click="dropdown()" >
                                                <select class="ui search selection dropdown" ng-model="charttype" ng-change="GetCredentialAnalytics()">
                                                    <option class="item" value="bar" selected>Bar</option>
                                                    <option class="item" value="doughnut">Doughnut</option>
                                                </select>
                                                <i class="chart bar icon"></i>
                                                <span class="text" style=" color: white; margin: 0">Bar</span>
                                                <div class="menu">
                                                    <div class="item active" data-value="bar">Bar</div>
                                                    <div class="item" data-value="doughnut">Doughnut</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui icon button" style="float: right;" id="toggleChartButton" fdprocessedid="yem6kv" ng-click="toggleChart()">
                                            <i class="angle down icon"></i>
                                        </div>
                                    </div>
                                    <div style="width: 100%; height: 83%; padding-top: 10px; max-height: 30vh" id="chart-div">
                                        <canvas id="analytics-chart" style="width: 100%; height: 38vh;"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>