<style>
    .ui.visible.right.sidebar ~ .fixed, .ui.visible.right.sidebar ~ .pusher {
        transform: translate3d(-275px, 0, 0) !important;
    }

    .ui.left.sidebar, .ui.right.sidebar {
        width: 260px;
        border-radius: 15px !important;
        border: 1px solid green;
        margin: 15px !important;
        height: 96vh !important;
        box-shadow: none !important
    }

    body.pushable {
        background: #e9e9e9 !important;
    }
</style>
<div class="page-body" ng-controller="DBCtrl" ng-init="getDatabaseList()">
    <div class="row">
        <div class="col-sm-12">
            <div id="parent-container">

                <div style="margin-left: 15px">
                    <div class="ui right sidebar vertical menu">
                        <div class="main-menu-header" style="background-color: #20bb40ad; border-radius: 15px; margin: 15px; transition: margin 0.3s ease-in-out; padding: 12px; color: white ">
                            <h3 style="margin-bottom: 0; margin-top: 0px; padding-top: 6px"><i class="database icon"></i> Details</h3>
                            <h5 style=" margin-top: 10px; background: white; color: black; border-radius: 15px; padding: 5px 10px;"> {{dbDescription.dbName}}</h5>
                        </div>
                        <div class="parent-menu" style="background: #8080801f; border-radius: 15px; margin: 0 15px 15px 15px; box-shadow: 0 0px 5px #aaaaaa;">
                            <div style="border-radius: 15px; padding: 15px">
                                <span class="pcoded-micon"><i class="table icon" style="font-size: 1.5rem; vertical-align: middle;"></i></span>
                                <b><span class="pcoded-mtext" data-i18n="nav.widget.main" style="color: black; vertical-align: middle;">Tables: </span><span style="float: right; vertical-align: middle;">{{dbDescription.Table}}</span></b>
                            </div>
                        </div>

                        <div class="parent-menu" style="background: #8080801f; border-radius: 15px; margin: 0 15px 15px 15px; box-shadow: 0 0px 5px #aaaaaa;">
                            <div style="border-radius: 15px; padding: 15px">
                                <span class="pcoded-micon"><i class="cogs icon" style="font-size: 1.5rem; vertical-align: middle;"></i></span>
                                <b><span class="pcoded-mtext" data-i18n="nav.widget.main" style="color: black; vertical-align: middle;">Stored Procedures: </span><span style="float: right; vertical-align: middle;">{{dbDescription.SP}}</span></b>
                            </div>
                        </div>

                        <div class="parent-menu" style="background: #8080801f; border-radius: 15px; margin: 0 15px 15px 15px; box-shadow: 0 0px 5px #aaaaaa;">
                            <div style="border-radius: 15px; padding: 15px">
                                <span class="pcoded-micon"><i class="sitemap icon" style="font-size: 1.5rem; vertical-align: middle;"></i></span>
                                <b><span class="pcoded-mtext" data-i18n="nav.widget.main" style="color: black; vertical-align: middle;">User-Created Indexes: </span><span style="float: right; vertical-align: middle;">{{dbDescription.Index}}</span></b>
                            </div>
                        </div>


                        <div class="parent-menu" style="background: #8080801f; border-radius: 15px; margin: 0 15px 15px 15px; box-shadow: 0 0px 5px #aaaaaa;">
                            <div style="border-radius: 15px; padding: 15px">
                                <span class="pcoded-micon"><i class="users icon" style="font-size: 1.5rem; vertical-align: middle;"></i></span>
                                <b><span class="pcoded-mtext" data-i18n="nav.widget.main" style="color: black; vertical-align: middle;">Users: </span><span style="float: right; vertical-align: middle;">{{dbDescription.Users}}</span></b>
                            </div>
                        </div>


                        <div class="parent-menu" style="background: #8080801f; border-radius: 15px; margin: 0 15px 15px 15px; box-shadow: 0 0px 5px #aaaaaa;">
                            <div style="border-radius: 15px; padding: 15px">
                                <span class="pcoded-micon"><i class="calendar alternate outline icon" style="font-size: 1.5rem; vertical-align: middle;"></i></span>
                                <b><span class="pcoded-mtext" data-i18n="nav.widget.main" style="color: black; vertical-align: middle;">Last Full Backup: </span><br /><span>{{dbDescription.Fbak}}</span></b>
                            </div>
                        </div>


                        <div class="parent-menu" style="background: #8080801f; border-radius: 15px; margin: 0 15px 15px 15px; box-shadow: 0 0px 5px #aaaaaa;">
                            <div style="border-radius: 15px; padding: 15px">
                                <span class="pcoded-micon"><i class="calendar outline icon" style="font-size: 1.5rem; vertical-align: middle;"></i></span>
                                <b><span class="pcoded-mtext" data-i18n="nav.widget.main" style="color: black; vertical-align: middle;">Last Partial Backup: </span><br /><span>{{dbDescription.Pbak}}</span></b>
                            </div>
                        </div>


                        <div class="parent-menu" style="background: #8080801f; border-radius: 15px; margin: 0 15px 15px 15px; box-shadow: 0 0px 5px #aaaaaa;">
                            <div style="border-radius: 15px; padding: 15px">
                                <span class="pcoded-micon"><i class="user circle outline icon" style="font-size: 1.5rem; vertical-align: middle;"></i></span>
                                <b><span class="pcoded-mtext" data-i18n="nav.widget.main" style="color: black; vertical-align: middle;">Database Owner: </span><br /><span>{{dbDescription.owner}}</span></b>
                            </div>
                        </div>

                        <div class="parent-menu" style="background: #8080801f; border-radius: 15px; margin: 0 15px 15px 15px; box-shadow: 0 0px 5px #aaaaaa;">
                            <div style="border-radius: 15px; padding: 15px">
                                <span class="pcoded-micon"><i class="language icon" style="font-size: 1.5rem; vertical-align: middle;"></i></span>
                                <b><span class="pcoded-mtext" data-i18n="nav.widget.main" style="color: black; vertical-align: middle;">Database Collation: </span><br /><span>{{dbDescription.Coll}}</span></b>
                            </div>
                        </div>

                        <div class="parent-menu" style="background: #8080801f; border-radius: 15px; margin: 0 15px 15px 15px; box-shadow: 0 0px 5px #aaaaaa;">
                            <div style="border-radius: 15px; padding: 15px">
                                <span class="pcoded-micon"><i class="file icon" style="font-size: 1.5rem; vertical-align: middle;"></i></span>
                                <b><span class="pcoded-mtext" data-i18n="nav.widget.main" style="color: black; vertical-align: middle;">Database Data Size: </span><br /><span>{{dbDescription.datasize}} GB</span></b>
                            </div>
                        </div>

                        <div class="parent-menu" style="background: #8080801f; border-radius: 15px; margin: 0 15px 15px 15px; box-shadow: 0 0px 5px #aaaaaa;">
                            <div style="border-radius: 15px; padding: 15px">
                                <span class="pcoded-micon"><i class="file alternate icon" style="font-size: 1.5rem; vertical-align: middle;"></i></span>
                                <b><span class="pcoded-mtext" data-i18n="nav.widget.main" style="color: black; vertical-align: middle;">Database Log Size </span><br /><span>{{dbDescription.logsize}} GB</span></b>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Database Storage popup-->
                <div class="ui mini modal addBkPopup" id="inputPopup" style="pointer-events:auto">
                    <i class="close icon"></i>
                    <div class="header">
                        Confirm Authentication
                    </div>

                    <div class="field" style=" margin: 15px;  display: flex;">
                        <div class="ui big left icon input" style=" width: 100%;">
                            <i class="file outline icon"></i>
                            <input name="newname" autocomplete="off" id="newname" placeholder="Backup Name" class="form-control" />
                        </div>
                    </div>
                    <div class="field" style=" margin: 15px;  display: flex;">
                        <div class="ui big left icon input" style=" width: 100%;">
                            <i class="folder open outline icon"></i>
                            <input name="location" autocomplete="off" id="location" placeholder="Backup Location" class="form-control" />
                        </div>
                    </div>
                    <span style="margin:15px">*Do not include trailing slash in directory.</span>
                    <div class="actions">
                        <div class="ui animated button" ng-click="hideBkForm()" style=" margin: 0;" tabindex="0">
                            <div class="visible content">Cancel</div>
                            <div class="hidden content">
                                <i class="bi bi-x-lg"></i>
                            </div>
                        </div>
                        <div class="ui green animated button" style="pointer-events: auto" ng-click="backupDB()">
                            <div class="visible content">Save</div>
                            <div class="hidden content">
                                <i class="save icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Create Database popup-->
                <div class="ui mini modal addCreatePopup" id="inputPopup" style="pointer-events:auto">
                    <i class="close icon"></i>
                    <div class="header">
                        Confirm Authentication
                    </div>

                    <div class="field" style=" margin: 15px;  display: flex;">
                        <div class="ui big left icon input" style=" width: 100%;">
                            <i class="database icon"></i>
                            <input name="dbname" autocomplete="off" id="dbname" placeholder="Database Name" class="form-control" />
                        </div>
                    </div>
                    <div class="actions">
                        <div class="ui animated button" ng-click="hideCreateForm()" style=" margin: 0;" tabindex="0">
                            <div class="visible content">Cancel</div>
                            <div class="hidden content">
                                <i class="bi bi-x-lg"></i>
                            </div>
                        </div>
                        <div class="ui green animated button" style="pointer-events: auto" ng-click="CreateDb()">
                            <div class="visible content">Create</div>
                            <div class="hidden content">
                                <i class="plus icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card main-card" style=" background-image: none !important;">
                    <div class="ui float message" id="message-container">
                        <div class="content">
                            <p id="message"></p>
                        </div>
                    </div>
                    <div class="card-header">
                        <div class="ui icon input" style="float: left;">
                            <input type="text" placeholder="Search Database" ng-model="searchDB" ng-change="countDB()" fdprocessedid="jktz0n" style=" height: 35px; border-radius: 15px" required>
                        </div>
                        <div class="row-fluid" style="float: left; border-left: 2px solid grey; padding-left: 10px; margin-left: 10px">
                            <button class="ui green labeled icon button" ng-click="showCreatePopup()" style="float: left">
                                <i class="plus icon"></i>
                                Create Database
                            </button>
                        </div>
                        <h3 style="margin-bottom: 0; margin-top: 0px; padding-top: 6px"><i class="bi bi-database-fill" style=" font-size: 1.5em; vertical-align: middle; margin-right: 0.5rem"></i>Manage Database</h3>
                    </div>
                    <div class="ui grid">
                        <div class="twelve wide column">
                            <div class="card-header" style=" margin-top: 30px;">
                                <h3 style="margin-bottom: 0; margin-top: 0px;"><i class="bi bi-database-check"></i> Online : {{onlineCount}}</h3>
                            </div>
                            <div class="card-block" style="max-height: 76vh; height: 76vh; background-color: white;">
                                <div class="ui four stackable cards" style="overflow-y: auto; background: white; align-items: center; border-radius: 15px; justify-content: center; display: flex; padding: 15px; margin: 15px 0px; max-height: inherit; ">
                                    <div class="ui card zoomable-cards" style=" width: 19rem; border-radius: 15px !important; min-width:19rem" ng-repeat="DB in DbList | filter:{name: searchDB} | filter:{noc: 'ONLINE'}">
                                        <div class="card" ng-click="GetDb_desc(DB.name)" style="border-radius: 15px !important; border: 1px solid green; border-top: 1px solid green !important;">
                                            <div class="ui grid">
                                                <div class="five wide column" style=" display: flex; align-items: center; justify-content: center;">
                                                    <i class="bi bi-database-fill" style=" font-size: 4rem; color: lightgrey"></i>
                                                </div>
                                                <div class="eleven wide column" style="padding: 0 !important;">
                                                    <div class="content">
                                                        <div class="header"><h4 style=" padding: 15px 0 0 0;">{{DB.name}}</h4></div>
                                                        <div class="description" style="margin: 10px 0;">
                                                            <i class="circle green icon"></i>
                                                            {{DB.noc}}
                                                        </div>
                                                    </div>
                                                    <div class="ui bottom attached button" style="display: flex; padding: 0; width: 100% !important; justify-content: center; align-items: center; border-radius: 15px 0;">
                                                        <button title="Stop Database" style=" border-radius: 15px 0 0 0;" class="ui button" ng-click="stopDB(DB.name)">
                                                            <i class="stop icon"></i>
                                                        </button>
                                                        <button class="ui button" title="Restart Database" ng-click="restartDB(DB.name)">
                                                            <i class="refresh icon"></i>
                                                        </button>
                                                        <button class="ui button" title="Backup Database" style="border-radius: 0 0 15px 0" ng-click="custom(DB.name)">
                                                            <i class="save icon"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="four wide column">
                            <div class="card-header" style=" margin-top: 30px;">
                                <h3 style="margin-bottom: 0; margin-top: 0px;"><i class="bi bi-database-x"></i> Offline : {{offlineCount}}</h3>
                            </div>
                            <div class="card-block" style="max-height: 76vh; height: 76vh; background-color: white; border-radius: 15px">
                                <div class="ui two stackable cards " style="overflow-y: auto; background: white; align-items: center; border-radius: 15px; justify-content: center; display: flex; padding: 15px; margin: 15px 0px; max-height: inherit; ">
                                    <div class="ui card zoomable-cards" style=" width: 19rem; border-radius: 15px !important; min-width:19rem" ng-repeat="DB in DbList | filter: { name: searchDB } | filter:{noc: 'OFFLINE'} as result">
                                        <div class="card" style="border-radius: 15px !important; border: 1px solid green; border-top: 1px solid green !important;">
                                            <div class="ui grid">
                                                <div class="five wide column" style=" display: flex; align-items: center; justify-content: center;">
                                                    <i class="bi bi-database-fill" style=" font-size: 4rem; color: lightgrey"></i>
                                                </div>
                                                <div class="eleven wide column" style="padding: 0 !important;">
                                                    <div class="content">
                                                        <div class="header"><h4 style=" padding: 15px 0 0 0;">{{DB.name}}</h4></div>
                                                        <div class="description" style="margin: 10px 0;">
                                                            <i class="circle icon" style="color: lightgray"></i>
                                                            {{DB.noc}}
                                                        </div>
                                                    </div>

                                                    <div class="ui bottom attached button" style="display: flex; padding: 0; width: 100% !important; justify-content: center; align-items: center; border-radius: 15px 0; ">
                                                        <button class="ui button" title="Start Database" ng-click="startDB(DB.name)">
                                                            <i class="play icon"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
