<style>
    .md-dialog-is-showing {
        top: auto !important;
    }
</style>

<!-- Page body start -->
<div class="page-body" ng-controller="DeptCtrl" ng-init="getDepartment()">
    <div class="row">
        <div class="col-sm-12">
            <!-- Basic Form Inputs card start -->
            <div class="card">
                <div class="card-header">
                    <div>
                        <div class="float-left"> <h4>Department Master</h4></div>
                        <div class="float-right"> <button type="button" ng-click="backToList()" class="tabledit-edit-button btn btn-primary waves-effect waves-light ">Back</button></div>
                    </div>                  
                </div>

                <div class="card-block">
                    
                    <div class="col-md-12 offset-md-2">
                        <form ng-model="Department">
                            <div class="form-group row" ng-init="getProgramme()">
                                <div class="col-sm-2">Programme Name</div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <select ng-model="Department.ProgrammeId" ng-options="d.ProgrammeId as d.ProgrammeName for d in ProgList" [value]="Department.ProgrammeId" class="form-control" name="Facdropdown" required>
                                                <option value="" disabled selected>-- select --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Department Name<span style="color:red">*</span>:</label>
                                <div class="col-sm-6">
                                    <input type="text" name="DepartmentName" class="form-control" ng-model="Department.DeptName" placeholder="Type Department Name" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Department Name<span style="color:red">*</span>:</label>
                                <div class="col-sm-6">
                                    <input type="text" name="DepartmentCode" class="form-control" ng-model="Department.DeptCode" placeholder="Type Department Name" required />
                                </div>
                            </div>
                            
                            <div class="col-md-12 offset-md-2">
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <button class="btn btn-success" ng-click="addDepartment()">Add </button>
                                        <button class="btn btn-disabled disabled" ng-click="resetDepartment()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card">
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" id="example-2" ng-table="DepartmentTableParams" show-filter="true">
                                    <tbody>
                                        <tr ng-repeat="Department in $data">
                                            <td data-title="'Sr.No'" filter="{$index: 'text'}" sortable="'$index'" style="border-top:none;"><label>{{ $index + 1 }}</label></td>
                                            <td data-title="'Department Name'" filter="{DepartmentName: 'text'}" sortable="'DepartmentName'" style=" border-top: none;"><label>{{Department.DeptName}}</label></td>
                                            <td data-title="'Department Code'" filter="{DeptCode: 'text'}" sortable="'DeptCode'" style=" border-top: none;"><label>{{Department.DeptCode}}</label></td>
                                            <td data-title="'Programme Name'" filter="{ProgrammeName: 'text'}" sortable="'ProgrammeName'" style=" border-top: none;"><label>{{Department.ProgrammeName}}</label></td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
