<style>
    .md-dialog-is-showing {
        top: auto !important;
    }
    .button-size {
        width: 11rem !important;
    }
</style>

<!-- Page body start -->
<div class="page-body" ng-controller="InstituteCtrl" ng-init="getInstitute()">
    <div class="row">
        <div class="col-sm-12">
            <!-- Basic Form Inputs card start -->
            <div class="card">
                <div class="card-header">
                    <h4>Institute Master</h4>
                </div>

                <div class="card-block">

                    <button type="button" ng-click="NewAddPage()" class="tabledit-edit-button btn btn-primary waves-effect waves-light"><span class="ion-plus-round"></span>&nbsp; Add New</button><br /><br />
                    <div class="col-md-12 offset-md-2">
                        <form ng-model="Institute1" ng-show="ShowFormFlag">

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Institute Name<span style="color:red">*</span>:</label>
                                <div class="col-sm-6">
                                    <input type="text" name="VenueName" class="form-control" ng-model="Institute1.InstituteName" placeholder="Type Venue Name" required />
                                </div>
                            </div>
                            
                            <div class="col-md-12 offset-md-2">
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <button class="btn btn-success" ng-click="editInstitute()">Update </button>
                                        <button class="btn btn-disabled disabled" ng-click="resetInstitute()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        </div>
                    <div class="card">
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" id="example-2" ng-table="Institute1TableParams" show-filter="true">
                                    <tbody>
                                        <tr ng-repeat="Institute1 in $data">
                                            <td data-title="'Sr.No'" filter="{$index: 'text'}" sortable="'$index'" style="border-top:none;"><label>{{ $index + 1 }}</label></td>
                                            <td data-title="'Institute Name'" filter="{InstituteName: 'text'}" sortable="'InstituteName'" style=" border-top: none;"><label>{{Institute1.InstituteName}}</label></td>
                                            
                                            
                                            <td data-title="'Actions'">
                                                <div layout="row">
                                                    <span flex></span>

                                                    
                                                    <button type="button" ng-click="modifyInstituteData(Institute1)" class="tabledit-edit-button btn btn-primary waves-effect waves-light"><span class="icofont icofont-ui-edit"></span></button>
                                                    <button type="button" ng-click="deleteInstitute($event,Institute1)" class="tabledit-delete-button btn btn-danger waves-effect waves-light ml-2"><span class="icofont icofont-ui-delete"></span></button>
                                                    <!--Hide Button-->
                                                    <!--<button title="Hide" ng-click="ShowVenueMaster(VenueMaster)" class="btn btn-danger ml-2 button-size" ng-hide="VenueMaster.IsActive"><i class="fa fa-toggle-on"></i>Click to Active</button>-->
                                                    <!--Show Button-->
                                                    <!--<button title="Show" ng-click="HideVenueMaster(VenueMaster)" class="btn btn-success ml-2 button-size" ng-show="VenueMaster.IsActive"><i class="fa fa-toggle-off"></i>Click to Suspended</button>-->
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="large-Modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Venue Master Details</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h5></h5>
                                    <table class="table table-striped table-bordered">
                                        <tr>
                                            <td>Venue Name:</td>
                                            <td>{{VenueMaster.VenueName}}</td>
                                        </tr>
                                        <tr>
                                            <td>Venue Address:</td>
                                            <td>{{VenueMaster.VenueAddress}}</td>
                                        </tr>
                                        <tr>
                                            <td>Venue Capacity:</td>
                                            <td>{{VenueMaster.VenueCapacity}}</td>
                                        </tr>
                                        <tr>
                                            <td>Active-Status:</td>
                                            <td>{{VenueMaster.IsActiveSts}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <!--<button type="button" class="btn btn-default waves-effect " data-dismiss="modal" disabled>Close</button>-->
                                    <button type="button" class="btn btn-primary waves-effect waves-light " data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>




        </div>
    </div>
</div>
