<style>
    .md-dialog-is-showing {
        top: auto !important;
    }
</style>

<!-- Page body start -->
<div class="page-body" ng-controller="PermReportCtrl">
    <div class="row">
        <div class="col-sm-12">
            <!-- Basic Form Inputs card start -->
            <div class="parent-container">
                <div class="card main-card">
                    <div class="card-header" ng-init="getDatabaseList()">
                        <div class="ui green floating dropdown labeled search icon button" ng-click="dropdown()" style="float: left">
                            <select class="ui search selection dropdown" ng-model="Database.name" ng-click="dropdown()" ng-change="initPermReport()">
                                <option class="item" ng-repeat="d in DatabaseList" value="{{d.name}}">{{d.name}}</option>
                            </select>
                            <i class="database icon"></i>
                            <input type="hidden" ng-model="Database.name" style="color: white; font-weight: bold;">
                            <div class="default text">Select Database</div>
                            <div class="menu">
                                <div class="item" ng-repeat="d in DatabaseList" data-value="{{d.name}}">{{d.name}}</div>
                            </div>
                        </div>
                        <h3 style="margin-bottom: 0; margin-top: 0px; padding-top: 6px"><i class="bi bi-person-video2" style="font-size: 1.5em; vertical-align: middle; margin-right: 10px"></i>Permission Report</h3>
                    </div>
                    <div class="card-block scrollbar" id="table-parent-container">
                        <div class="table-responsive">
                            <table class="ui striped table green main-table selectable" id="example-2" ng-table="PermReportParams" show-filter="true">
                                <tbody>
                                    <tr ng-repeat="PermVaR in $data">
                                        <td data-title="'Sr.No'" filter="{$index: 'text'}" sortable="'$index'" style="border-top:none;"><label>{{ $index + 1 }}</label></td>
                                        <td data-title="'User Name'" filter="{username: 'text'}" sortable="'username'" style=" border-top: none;"><label>{{PermVaR.username}}</label></td>
                                        <td data-title="'User Type'" filter="{usertype: 'text'}" sortable="'usertype'" style=" border-top: none;"><label>{{PermVaR.usertype}}</label></td>
                                        <td data-title="'Permission'" filter="{permission: 'text'}" sortable="'permission'" style=" border-top: none;"><label>{{PermVaR.permission}}</label></td>
                                        <td data-title="'Permission State'" filter="{permissionstate: 'text'}" sortable="'permissionstate'" style=" border-top: none;"><label>{{PermVaR.permissionstate}}</label></td>
                                        <td data-title="'Class'" filter="{Class: 'text'}" sortable="'Class'" style=" border-top: none;"><label>{{PermVaR.Class}}</label></td>
                                        <td data-title="'Object Type'" filter="{objectname: 'text'}" sortable="'objectname'" style=" border-top: none;"><label>{{PermVaR.objectname}}</label></td>
                                        <td data-title="'Modify Date'" filter="{modifydate: 'text'}" sortable="'modifydate'" style=" border-top: none;"><label>{{PermVaR.modifydate}}</label></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>