<style>
    .md-dialog-is-showing {
        top: auto !important;
    }
</style>

<!-- Page body start -->
<div class="page-body" ng-controller="PermissionCtrl" ng-init="getPermission()">
    <div class="row">
        <div class="col-sm-12">
            <!-- Basic Form Inputs card start -->
            <div class="card">
                <div class="card-header">
                    <div>
                        <div class="float-left"> <h4>Permssion Details</h4></div>
                        <div class="float-right"> <button type="button" ng-click="backToList()" class="tabledit-edit-button btn btn-primary waves-effect waves-light ">Back</button></div>
                    </div>                  
                </div>

                <div class="card-block">
                    
                    <div class="col-md-12 offset-md-2">
                        <form ng-model="Permission">

                            <div class="form-group row" ng-init="getUserList()">
                                <div class="col-sm-2">Username</div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <select ng-model="User.UserName" ng-options="d.UserName as d.UserName for d in UserList" ng-change="showDatabaselist()" [value]="User.UserName" class="form-control" name="Userdropdown" required>
                                                <option value="" disabled selected>-- select --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row" ng-show="showDatabaselistflag" ng-init="getDatabaseList()">
                                <div class="col-sm-2">Database Name</div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <select ng-model="Database.name" ng-options="d.name as d.name for d in DatabaseList" ng-change="initPermissions()" [value]="Database.name" class="form-control" name="Databasedropdown" required>
                                                <option value="" disabled selected>-- select --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="form-group row">
                                <div class="col-sm-2">Table Name</div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <select ng-model="Table.name" ng-options="d.name as d.name for d in TableList" [value]="Table.name" class="form-control" name="Tabledropdown" required>
                                                <option value="" disabled selected>-- select --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-2">Permissions</div>
                                <div class="col-sm-2">
                                    <div>
                                        <input type="checkbox" ng-model="Permission.ReadPerm" name="Read" ng-checked="PermissionList.ReadPerm">
                                        <label for="Read">Read</label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div>
                                        <input type="checkbox" ng-model="Permission.WritePerm" name="Read" ng-checked="PermissionList.WritePerm">
                                        <label for="Write">Write</label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div>
                                        <input type="checkbox" ng-model="Permission.AlterPerm" name="Read" ng-checked="PermissionList.AlterPerm">
                                        <label for="Alter">Alter</label>
                                    </div>
                                </div>
                            </div>-->

                            <!--<div cla<!--ss="col-md-12 offset-md-2">
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <button class="btn btn-success" ng-click="addWorker()">Update</button>
                                        <button class="btn btn-disabled disabled" ng-click="resetWorker()">Cancel</button>
                                    </div>
                                </div>
                            </div>-->
                        </form>
                    </div>
                    <div class="card" ng-show="ShowPermissionsFlag">
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" id="example-2" ng-table="PermissionParams" show-filter="true">
                                    <tbody>
                                        <tr ng-repeat="Permission in $data">
                                            <td data-title="'Sr.No'" filter="{$index: 'text'}" sortable="'$index'" style="border-top:none;"><label>{{ $index + 1 }}</label></td>
                                            <td data-title="'Table Name'" filter="{Table_Name: 'text'}" sortable="'Table_Name'" style=" border-top: none;"><label>{{Permission.TableName}}</label></td>

                                            <td data-title="'Read'">
                                                <div layout="row">
                                                    <span flex></span>
                                                    <input type="checkbox" ng-model="Permission.ReadPerm" name="Read" ng-checked="Permission.ReadPerm">
                                                </div>
                                            </td>

                                            <td data-title="'Write'">
                                                <div layout="row">
                                                    <span flex></span>
                                                    <input type="checkbox" ng-model="Permission.WritePerm" name="Write" ng-checked="Permission.WritePerm">
                                                </div>
                                            </td>

                                            <td data-title="'Alter'">
                                                <div layout="row">
                                                    <span flex></span>
                                                    <input type="checkbox" ng-model="Permission.AlterPerm" name="Alter" ng-checked="Permission.AlterPerm">
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
