<style>
    .md-dialog-is-showing {
        top: auto !important;
    }
</style>

<!-- Page body start -->
<div class="page-body" ng-controller="PermissionCtrl" ng-init="getPermission()">
    <div class="row">
        <div class="col-sm-12">
            <!-- Basic Form Inputs card start -->
            <div class="card">
                <div class="card-header">
                    <div>
                        <h3>Permission Management</h3>
                    </div>                  
                </div>

                <div class="card-block">

                    <div class="col-md-12 offset-md-2">
                        <form ng-model="Permission">

                            <div class="form-group row" ng-init="getUserList()">
                                <div style="width:120px;" class="col-form-label">Username</div>
                                <div class="col-sm-4">
                                    <div>
                                        <span class="nullable">
                                            <!--<div class="dropdown pull-right makePaymentDropdownMainDiv" auto-close="outsideClick">
                                                <button class="btn btn-default dropdown-toggle makePaymentDropdownBtn" type="button" id="individualDrop" data-toggle="dropdown">search<span class="caret pull-right"></span></button>
                                                <span ng-show="submitted"><label class="error">Select an Individual</label></span>
                                                <ul class="dropdown-menu makePaymentDropdownUlStyle" role="menu" aria-labelledby="individualDrop">
                                                    <input disable-auto-close type="search" ng-model="User.UserName" class="makePaymentDropdownSearchBox" placeholder="Search"></input>
                                                    <li role="presentation" ng-repeat="d.UserName as d.UserName for d in UserList | filter: User.UserName"><a role="menuitem" ng-click="selectEntity(User.UserName)">{{User.UserName}}</a></li>
                                                </ul>
                                            </div>-->
                                            <select ng-model="User.UserName" ng-options="d.UserName as d.UserName for d in UserList" ng-change="showDatabaselist()" [value]="User.UserName" class="form-control" name="Userdropdown" required>
                                                <option value="" disabled selected>-- select --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row" ng-show="showDatabaselistflag" ng-init="getDatabaseList()">
                                <div style="width:120px;" class="col-form-label">Database Name</div>
                                <div class="col-sm-4">
                                    <div>
                                        <span class="nullable">
                                            <select ng-model="Database.name" ng-options="d.name as d.name for d in DatabaseList" ng-change="initPermissions()" [value]="Database.name" class="form-control" name="Databasedropdown" required>
                                                <option value="" disabled selected>-- select --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="card" ng-show="ShowPermissionsFlag">
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" id="top-table">
                                    <tr>
                                        <th width="51.5%" style="text-align:center">Select All</th>
                                        <th style="text-align:center; width: auto"><label for="readall">Read <input id="readall" type="checkbox" ng-model='checkboxRead' ng-click="checkAllRead(checkboxRead)" name="masterreadcheck" /></label></th>
                                        <th style="text-align:center;"><label for="writeall">Write <input id="writeall" type="checkbox" ng-model='checkboxWrite' ng-click="checkAllWrite(checkboxWrite)" name="masterwritecheck" /></label></th>
                                        <th style="text-align:center;"><label for="alterall">Alter <input id="alterall" type="checkbox" ng-model='checkboxAlter' ng-click="checkAllAlter(checkboxAlter)" name="masteraltercheck" /></label></th>
                                        <th style="text-align:center;"><label for="fullaccessall">Full Access <input id="fullaccessall" type="checkbox" ng-model='checkboxFullAccess' ng-click="checkAllFullAccess(checkboxFullAccess)" name="masterfullaccesscheck" /></label></th>

                                    </tr>
                                </table>
                                <table class="table table-striped table-bordered" id="example-2" ng-table="PermissionParams" show-filter="true">

                                    <tbody>

                                        <tr ng-repeat="Permission in $data">
                                            <td data-title="'Sr.No'" filter="{$index: 'text'}" sortable="'$index'" style="text-align: center; border-top: none;"><label>{{ $index + 1 }}</label></td>
                                            <td data-title="'Table Name'" filter="{TableName: 'text'}" sortable="'TableName'" style=" border-top: none;"><label>{{Permission.TableName}}</label></td>


                                            <td data-title="'Read'" style="text-align: center;">
                                                <input type="checkbox" ng-model="Permission.ReadPerm" name="Read" ng-checked="Permission.ReadPerm" />
                                            </td>

                                            <td data-title="'Write'" style="text-align: center;">
                                                <input type="checkbox" ng-model="Permission.WritePerm" name="Write" ng-checked="Permission.WritePerm">
                                            </td>

                                            <td data-title="'Alter'" style="text-align: center;">
                                                <input type="checkbox" ng-model="Permission.AlterPerm" name="Alter" ng-checked="Permission.AlterPerm">
                                            </td>

                                            <td data-title="'Full Access'" style="text-align: center;">
                                                <input type="checkbox" ng-model="Permission.FullAccessPerm" name="FullAccess" ng-checked="Permission.FullAccessPerm">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--<script type="text/ng-template" id="all.html">
                <input type="checkbox" ng-model="Permission.checkboxItem" ng-click="selectAll()" />
            </script>-->
                        </div>
                    </div>

                    <div class="col-md-12 offset-md-3">
                        <div class="col-md-12 offset-md-2">
                            <div class="form-group row" ng-show="UpdateFormFlag">
                                <div class="col-sm-6">
                                    <button class="tabledit-edit-button btn btn-primary waves-effect waves-light" ng-click="updatePermissions()">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
