<style>
    .md-dialog-is-showing {
        top: auto !important;
    }
</style>

<!-- Page body start -->
<div class="page-body" ng-controller="PermReportCtrl" ng-init="PermReport()">
    <div class="row">
        <div class="col-sm-12">
            <!-- Basic Form Inputs card start -->
            <div class="card">
                <div class="card-header">
                    <div>
                        <h3>Permissions Report</h3>
                    </div>                  
                </div>

                <div class="card-block">
                    <div class="form-group row"  ng-init="getDatabaseList()">
                        <div style="width:120px;" class="col-form-label">Database Name</div>
                        <div class="col-sm-4">
                            <div>
                                <span class="nullable">
                                    <select ng-model="Database.name" ng-options="d.name as d.name for d in DatabaseList" ng-change="initPermReport()"  [value]="Database.name" class="form-control" name="Databasedropdown" required>
                                        <option value="" disabled selected>-- select --</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" id="example-2" ng-table="PermReportParams" show-filter="true">
                                    <tbody>
                                        <tr ng-repeat="PermVaR in $data">
                                            <td data-title="'Sr.No'" filter="{$index: 'text'}" sortable="'$index'" style="border-top:none;"><label>{{ $index + 1 }}</label></td>
                                            <td data-title="'User Name'" filter="{username: 'text'}" sortable="'username'" style=" border-top: none;"><label>{{PermVaR.username}}</label></td>
                                            <td data-title="'User Type'" filter="{usertype: 'text'}" sortable="'usertype'" style=" border-top: none;"><label>{{PermVaR.usertype}}</label></td>
                                            <td data-title="'Permission'" filter="{permission: 'text'}" sortable="'permission'" style=" border-top: none;"><label>{{PermVaR.permission}}</label></td>
                                            <td data-title="'Permission State'" filter="{permissionstate: 'text'}" sortable="'permissionstate'" style=" border-top: none;"><label>{{PermVaR.permissionstate}}</label></td>
                                            <td data-title="'Class'" filter="{Class: 'text'}" sortable="'Class'" style=" border-top: none;"><label>{{PermVaR.Class}}</label></td>
                                            <td data-title="'Object Type'" filter="{objectname: 'text'}" sortable="'objectname'" style=" border-top: none;"><label>{{PermVaR.objectname}}</label></td>
                                            <td data-title="'Modify Date'" filter="{modifydate: 'text'}" sortable="'modifydate'" style=" border-top: none;"><label>{{PermVaR.modifydate}}</label></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
