<style>
    .md-dialog-is-showing {
        top: auto !important;
    }
</style>

<!-- Page body start -->
<div class="page-body" ng-controller="PermissionCtrl" ng-init="getPermission()">
    <div class="row">
        <div class="col-sm-12">
            <!-- Basic Form Inputs card start -->
            <div class="card">
                <div class="card-header">
                    <div>
                        <div class="float-left"> <h4>Permssion Details</h4></div>
                        <div class="float-right"> <button type="button" ng-click="backToList()" class="tabledit-edit-button btn btn-primary waves-effect waves-light ">Back</button></div>
                    </div>                  
                </div>

                <div class="card-block">
                    
                    <div class="col-md-12 offset-md-2">
                        <form ng-model="Permission">

                            <div class="form-group row" ng-init="getUserList()">
                                <div class="col-sm-2">Username</div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <select ng-model="User.UserName" ng-options="d.UserName as d.UserName for d in UserList" [value]="User.UserName" class="form-control" name="Userdropdown" required>
                                                <option value="" disabled selected>-- select --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row" ng-init="getDatabaseList()">
                                <div class="col-sm-2">Database Name</div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <select ng-model="Database.name" ng-options="d.name as d.name for d in DatabaseList" ng-change="getTableList()" [value]="Database.name" class="form-control" name="Databasedropdown" required>
                                                <option value="" disabled selected>-- select --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-2">Table Name</div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <select ng-model="Table.name" ng-options="d.name as d.name for d in TableList" [value]="Table.name" class="form-control" name="Tabledropdown" required>
                                                <option value="" disabled selected>-- select --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-2">Permissions</div>
                                <div class="col-sm-2">
                                    <div>
                                        <input type="checkbox" ng-model="Permission.ReadPerm" name="Read">
                                        <label for="Read">Read</label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div>
                                        <input type="checkbox" ng-model="Permission.WritePerm" name="Read">
                                        <label for="Write">Write</label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div>
                                        <input type="checkbox" ng-model="Permission.AlterPerm" name="Read">
                                        <label for="Alter">Alter</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">First Name<span style="color:red">*</span>:</label>
                                <div class="col-sm-6">
                                    <input type="text" name="First_Name" class="form-control" ng-model="Worker.First_Name" placeholder="Type Worker First Name" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Last Name<span style="color:red">*</span>:</label>
                                <div class="col-sm-6">
                                    <input type="text" name="Last_Name" class="form-control" ng-model="Worker.Last_Name" placeholder="Type Worker Last Name" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Salary<span style="color:red">*</span>:</label>
                                <div class="col-sm-6">
                                    <input type="number" name="Salary" class="form-control" ng-model="Worker.Salary" placeholder="Type Worker Salary" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Joining Date<span style="color:red">*</span>:</label>
                                <div class="col-sm-6">
                                    <input type="date" name="" class="form-control" ng-model="Worker.Joining_Date" placeholder="Type Worker Joining Date" required />
                                </div>
                            </div>

                            <div class="form-group row" ng-init="getDepartmentList()">
                                <div class="col-sm-2">Department Name</div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <select ng-model="Worker.Department_ID" ng-options="d.ID as d.Department_Name for d in DepartmentList" ng-change="getDepartmentList()" [value]="Department.Department_ID" class="form-control" name="Departmentdropdown" required>
                                                <option value="" disabled selected>-- select --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" ng-init="getCompanyList()">
                                <div class="col-sm-2">Company Name</div>
                                <div class="col-sm-6">
                                    <div>
                                        <span class="nullable">
                                            <select ng-model="Worker.Company_ID" ng-options="d.Company_ID as d.Company_Name for d in CompanyList" ng-change="getCompanyList()" [value]="Worker.Company_ID" class="form-control" name="Companydropdown" required>
                                                <option value="" disabled selected>-- select --</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="form-group row">
        <label class="col-sm-2 col-form-label">Company ID<span style="color:red">*</span>:</label>
        <div class="col-sm-6">
            <select ng-model="Worker.Company_ID" ng-options="d.CompanyID as d.Company_Name for d in CompanyList" ng-change="getCompanyList()" [value]="Company.CompanyID" class="form-control" name="Companydropdown" required>
                <option value="" disabled selected>-- select --</option>
            </select>
        </div>
    </div>-->

                            <div class="col-md-12 offset-md-2">
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <button class="btn btn-success" ng-click="addWorker()">Add</button>
                                        <button class="btn btn-disabled disabled" ng-click="resetWorker()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card">
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" id="example-2" ng-table="WorkerTableParams" show-filter="true">
                                    <tbody>
                                        <tr ng-repeat="Worker in $data">
                                            <td data-title="'Sr.No'" filter="{$index: 'text'}" sortable="'$index'" style="border-top:none;"><label>{{ $index + 1 }}</label></td>
                                            <td data-title="'Worker First Name'" filter="{First_Name: 'text'}" sortable="'First_Name'" style=" border-top: none;"><label>{{Worker.First_Name}}</label></td>
                                            <td data-title="'Worker Last Name'" filter="{Last_Name: 'text'}" sortable="'Last_Name'" style=" border-top: none;"><label>{{Worker.Last_Name}}</label></td>
                                            <td data-title="'Worker Salary'" filter="{Salary: 'text'}" sortable="'Salary'" style=" border-top: none;"><label>{{Worker.Salary}}</label></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
