<style>
    .md-dialog-is-showing {
        top: auto !important;
    }
</style>

<!-- Page body start -->
<div class="page-body" ng-controller="QueryHitCtrl" ng-init="init()">
    <div class="row">
        <div class="col-sm-12">
            <!-- Basic Form Inputs card start -->
            <div class="parent-container">
                <div class="card main-card">
                    <div class="card-header">
                        <form name="query">
                            <div class="ui icon input" style="float: left">
                                <input type="number" name="querycount" placeholder="Query Count" ng-model="Query.count" step="any" fdprocessedid="jktz0n" style="border-radius: 15px" required>
                                <i name="fetch" type="button" ng-click="FetchQueryHitList()" class="inverted circular search green link icon"></i>
                            </div>
                        </form>
                        <h3 style="margin-bottom: 0; margin-top: 0px; padding-top: 6px"><i class="play circle icon" style="font-size: 1.5em; vertical-align: middle; margin-right: 10px"></i>Query Analytics</h3>
                    </div>
                    <div class="card-block scrollbar" id="table-parent-container">
                        <div class="table-responsive">
                            <table class="ui striped table green main-table selectable" id="example-2" ng-table="QueryHitParams" show-filter="true">
                                <tbody>
                                    <tr ng-repeat="QueryHit in $data">
                                        <td data-title="'Sr.No'" filter="{$index: 'text'}" sortable="'$index'" style="border-top:none;"><label>{{ $index + 1 }}</label></td>
                                        <td data-title="'Time'" filter="{time: 'text'}" sortable="'time'" style=" border-top: none;"><label>{{QueryHit.time}}</label></td>
                                        <td data-title="'Query'" filter="{query: 'text'}" sortable="'Query'" style=" border-top: none;"><label>{{QueryHit.query}}</label></td>
                                        <td data-title="'Number'" filter="{number: 'text'}" sortable="'number'" style=" border-top: none;"><label>{{QueryHit.number}}</label></td>
                                        <td data-title="'Object ID'" filter="{objectid: 'text'}" sortable="'objectid'" style=" border-top: none;"><label>{{QueryHit.objectid}}</label></td>
                                        <td data-title="'DB Name'" filter="{dbname: 'text'}" sortable="'dbname'" style=" border-top: none;"><label>{{QueryHit.dbname}}</label></td>
                                        <td data-title="'Execution Count'" filter="{execution_count: 'text'}" sortable="'execution_count'" style=" border-top: none;"><label>{{QueryHit.execution_count}}</label></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>