<style>
    .md-dialog-is-showing {
        top: auto !important;
    }
</style>

<!-- Page body start -->
<div class="page-body" ng-controller="RBCtrl" ng-init="getFiles()">
    <div class="row">
        <div class="col-sm-12">
            <div class="parent-container">
                <div class="card main-card">
                    <div class="card-header">

                        <div class="ui green floating dropdown labeled search icon button" ng-click="fileDropdown()" style="float: left">
                            <select class="ui search selection dropdown" ng-model="FrDbName" ng-click="fileDropdown()" ng-change="showDatabaselist()">
                                <option class="item" ng-repeat="f in FileList" value="{{f.DbName}}">{{f.DbName}}</option>
                            </select>
                            <i class="folder open icon"></i>
                            <input type="hidden" ng-model="RB.FrDbName" style="color: white; font-weight: bold;">
                            <div class="default text">Select Backup File</div>
                            <div class="menu">
                                <div class="item" ng-repeat="f in FileList" data-value="{{f.DbName}}">{{f.DbName}}</div>
                            </div>
                        </div>
                        <div class="ui icon input" style="margin-left: 10px; float: left" ng-show="showDatabaselistflag">
                            <input type="text" id="destDBInput" name="destDB" placeholder="Destination Database" ng-model="destDB" fdprocessedid="jktz0n" style="border-radius: 15px" required>
                            <i name="fetch" type="button" ng-click="RestoreBackup()" class="chevron right green link icon"></i>
                        </div>
                        <h3 style="margin-bottom: 0; margin-top: 0px; padding-top: 6px"><i class="server icon" style="font-size: 1.5em; vertical-align: middle; margin-right: 10px"></i>Restore Backup</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
