<style>
    .checkbox {
        display: none;
    }

    .slider {
        width: 60px;
        height: 30px;
        background-color: lightgray;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        align-items: center;
        border: 4px solid transparent;
        transition: .3s;
        box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.25) inset;
        cursor: pointer;
        margin-top: -5px;
    }

        .slider::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: #fff;
            transform: translateX(-30px);
            border-radius: 20px;
            transition: .3s;
            box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
        }

    .checkbox:checked ~ .slider::before {
        transform: translateX(30px);
        box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
    }

    .checkbox:checked ~ .slider {
        background-color: green;
    }

    .checkbox:active ~ .slider::before {
        transform: translate(0);
    }

    .eight.wide.column {
        padding: 0 !important;
        margin: 0
    }
</style>

<!-- Page body start -->
<div class="page-body" ng-controller="SettingsCtrl" ng-init="initfun()" style="transition: transform 0.3s ease-out;">
    <div class="row">
        <div class="col-sm-12">
            <div id="parent-container">

                <!--Delete protection password popup-->
                <div class="ui mini modal addLoginPopup" id="inputPopup">
                    <i class="close icon"></i>
                    <div class="header">
                        Add Login
                    </div>
                    <div class="content" style="max-height:fit-content">
                        <form class="ui tiny form">
                            <div class="field">
                                <div class="ui big left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" name="Loginname" placeholder="Loginname" class="form-control" ng-model="Login.LoginName" autocomplete="off">
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui big action left icon input">
                                    <i class="lock icon"></i>
                                    <input name="LoginPassword" autocomplete="off" placeholder="Password" class="form-control" ng-keydown="$event.keyCode === 13 && $event.preventDefault()" ng-model="Login.LoginPassword" required ng-attr-type="{{ showPassword ? 'text' : 'password' }}" />
                                    <button type="button" class="ui icon button" ng-click="toggleShowPassword()">
                                        <i ng-class="{'eye icon': !showPassword,'eye slash icon': showPassword}"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="ui red message" id="add-message-container-login" style="display:none">
                                <div class="content">
                                    <p id="add-message-login"></p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="actions">
                        <div class="ui green animated button" ng-click="AddLogin()" tabindex="0">
                            <div class="visible content">Add</div>
                            <div class="hidden content">
                                <i class="plus icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card main-card">
                    <div class="card-header">
                        <h3 style="margin-bottom: 0; margin-top: 0px; padding-top: 6px"><i class="setting icon" style=" font-size: 1.5em; vertical-align: middle;"></i>Settings</h3>
                    </div>
                    <div class="card card-block" style=" overflow: scroll; overflow-x: hidden;">
                        <div class="ui grid">
                            <div class="eight wide column" style="padding-left: 15px !important">
                                <div style="padding:15px; margin: 15px 7.5px 15px 0px; height: auto; width: 100%; box-shadow: 0 0px 5px #aaaaaa; border-radius: 15px">
                                    <div class="card-header">
                                        <h3>Deletion Protection</h3>
                                    </div>
                                    <div style="border: 1px solid lightgrey; border-radius: 15px; padding: 15px; margin: 15px 0">
                                        <h5>Database</h5><br /><br />
                                        <span>Enable/Disable the protection on deleting a database</span>
                                        <label class="switch" style="float:right">
                                            <input type="checkbox" ng-checked="check" ng-click="checkIt()" class="checkbox">
                                            <div class="slider"></div>
                                        </label>
                                    </div>
                                    <div style="border: 1px solid lightgrey; border-radius: 15px; padding: 15px; ">
                                        <h5>Table</h5><br /><br />
                                        <span>Enable/Disable the protection on deleting a table</span>
                                        <label class="switch" style="float:right">
                                            <input type="checkbox" ng-checked="check_table" ng-click="checkIt_table()" class="checkbox">
                                            <div class="slider"></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="eight wide column" style="padding-right: 15px !important">
                                <div style="padding: 15px; margin: 15px 0px 15px 7.5px; height: auto; width: 100%; box-shadow: 0 0px 5px #aaaaaa; border-radius: 15px ">
                                    <div class="card-header">
                                        <h3>Appearance</h3>
                                    </div>
                                    <div style="border: 1px solid lightgrey; border-radius: 15px; padding: 15px; margin-top: 15px">
                                        <h5 style="color:grey">Dark Theme</h5>
                                        <label class="switch" style="float:right">
                                            <input type="checkbox" class="checkbox" id="themeCheckbox">
                                            <div class="slider" onclick="toggleDarkMode()"></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="border-radius: 15px; height: auto; width: 100%; box-shadow: 0 0px 5px #aaaaaa; margin-top: 7.5px">
                            <div class="card-header" style="margin: 15px">
                                <h3>Default locations</h3>
                            </div>
                            <div style="border: 1px solid lightgrey; border-radius: 15px; padding: 15px; margin: 15px;">
                                <h5 style="color:grey">Set custom default locations</h5>
                                <label class="switch" style="float:right">
                                    <input type="checkbox" ng-model="all" class="checkbox">
                                    <div class="slider" ng-click="toggleDefaultLocations()"></div>
                                </label>
                            </div>

                            <div id="options" style=" margin: 15px; padding: 15px;">
                                <div class="form-group">
                                    <label for="rloc">Restore file location</label><br />
                                    <div class="ui left icon input" style="width: 100%">
                                        <i class="gray folder icon"></i>
                                        <input type="text" name="fileloc" autocomplete="off" id="rloc" class="form-control" required />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="dloc">MSSQL mdf/ldf</label><br />
                                    <div class="ui left icon input" style="width: 100%">
                                        <i class="gray folder icon"></i>
                                        <input type="text" name="fileloc" autocomplete="off" id="dloc" class="form-control" required />
                                    </div>
                                </div>

                                <div style="float: right; margin-bottom: 15px">
                                    <div class="ui green animated button" tabindex="0" ng-click="submit()">
                                        <div class="visible content">Update</div>
                                        <div class="hidden content">
                                            <i class="check icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>