<style>
    .md-dialog-is-showing {
        top: auto !important;
    }

    .button-size {
        width: 11rem !important;
    }
</style>

<!-- Page body start -->
<div class="page-body" ng-controller="UserCtrl"  style="transition: transform 0.3s ease-out;">
    <div class="row">
        <div class="col-sm-12">
            <div id="parent-container">
                <!--Delete popup-->
                <div class="ui mini modal deletePopup" id="inputPopup">
                    <i class="close icon"></i>
                    <div class="header">
                        Delete User
                    </div>
                    <div class="content">
                        <form class="ui tiny form">
                            <div class="field">
                                <label style="text-align: center;">Are you sure want to delete this user?</label>
                            </div>
                        </form>
                    </div>
                    <div class="actions">
                        <button class="ui labeled red icon button" ng-click="deleteUser()">
                            <i class="trash alternate icon"></i>
                            Delete
                        </button>
                        <button class="ui button" ng-click="hideDeletePopup()">No</button>
                    </div>
                </div>

                <!--add popup-->
                <div class="ui mini modal addPopup" id="inputPopup">
                    <i class="close icon"></i>
                    <div class="header">
                        Add User
                    </div>
                    <div class="content" style="max-height:fit-content">
                        <form class="ui medium form">
                            <div class="field">
                                <div class="ui green floating dropdown labeled icon button" ng-click="dropdownLoginType()" style="float: left" id="ltDropdown">
                                    <select class="ui search selection dropdown" ng-model="selectedOption" ng-click="dropdownLoginType()" ng-change="changeLoginFlag()">
                                        <option class="item" ng-repeat="option in options" value="{{option.name}}">{{option.name}}</option>
                                    </select>
                                    <i class="angle right icon"></i>
                                    <input type="hidden" ng-model="selectedOption" style="color: white; font-weight: bold;">
                                    <div class="default text">Select</div>
                                    <div class="menu">
                                        <div class="item" ng-repeat="option in options" data-value="{{option.name}}">{{option.name}}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <div class="ui blue floating dropdown labeled search icon button" ng-click="dropdownDB()" style="float: left; margin-top:10px;" ng-init="getDatabaseList()" id="dbDrop">
                                    <select class="ui search selection dropdown" ng-model="DB.name" ng-click="dropdownDB()">
                                        <option class="item" ng-repeat="d in DatabaseList" value="{{d.name}}">{{d.name}}</option>
                                    </select>
                                    <i class="database icon"></i>
                                    <input type="hidden" ng-model="DB.name" style="color: white; font-weight: bold;">
                                    <div class="default text">Select Database</div>
                                    <div class="menu">
                                        <div class="item" ng-repeat="d in DatabaseList" data-value="{{d.name}}">{{d.name}}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="field" ng-show="ExistingLoginFlag">
                                <div class="ui green floating dropdown labeled search icon button" ng-click="dropdownLogin()" style="float: left; margin-top:10px;" id="loginDropdown">
                                    <select class="ui search selection dropdown" ng-model="Login.name" ng-click="dropdownLogin()">
                                        <option class="item" ng-repeat="d in LoginList" value="{{d.name}}">{{d.name}}</option>
                                    </select>
                                    <i class="user icon"></i>
                                    <input type="hidden" ng-model="Login.name" style="color: white; font-weight: bold;">
                                    <div class="default text">Select Login</div>
                                    <div class="menu">
                                        <div class="item" ng-repeat="d in LoginList" data-value="{{d.name}}">{{d.name}}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="field" ng-show="NewLoginFlag">
                                <div class="ui big left icon input" style="margin-top:15px;">
                                    <i class="user icon"></i>
                                    <input type="text" name="LoginName" placeholder="LoginName" class="form-control" ng-model="LoginName" autocomplete="off">
                                </div>
                            </div>
                            <div class="field" ng-show="NewLoginFlag">
                                <div class="ui big action left icon input">
                                    <i class="lock icon"></i>
                                    <input name="Password" autocomplete="off" placeholder="Password" class="form-control" ng-keydown="$event.keyCode === 13 && $event.preventDefault()" ng-model="Password" required ng-attr-type="{{ showPassword ? 'text' : 'password' }}" />
                                    <button type="button" class="ui icon button" ng-click="toggleShowPassword()">
                                        <i ng-class="{'eye icon': !showPassword,'eye slash icon': showPassword}"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="field">
                                <div class="ui big left icon input" style="margin-top:30px;">
                                    <i class="user icon"></i>
                                    <input type="text" name="Username" placeholder="Username" class="form-control" ng-model="UserName" autocomplete="off">
                                </div>
                            </div>
                            <div class="ui red message" id="add-message-container" style="display:none">
                                <div class="content">
                                    <p id="add-message"></p>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="actions">
                        <div class="ui green animated button" ng-click="AddUser()" tabindex="0">
                            <div class="visible content">Add</div>
                            <div class="hidden content">
                                <i class="plus icon"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <!--add login popup-->
                <div class="ui mini modal addLoginPopup" id="inputPopup">
                    <i class="close icon"></i>
                    <div class="header">
                        Add Login
                    </div>
                    <div class="content" style="max-height:fit-content">
                        <form class="ui tiny form">
                            <div class="field">
                                <div class="ui big left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" name="Loginname" placeholder="Loginname" class="form-control" ng-model="Login.LoginName" autocomplete="off">
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui big action left icon input">
                                    <i class="lock icon"></i>
                                    <input name="LoginPassword" autocomplete="off" placeholder="Password" class="form-control" ng-keydown="$event.keyCode === 13 && $event.preventDefault()" ng-model="Login.LoginPassword" required ng-attr-type="{{ showPassword ? 'text' : 'password' }}" />
                                    <button type="button" class="ui icon button" ng-click="toggleShowPassword()">
                                        <i ng-class="{'eye icon': !showPassword,'eye slash icon': showPassword}"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="ui red message" id="add-message-container-login" style="display:none">
                                <div class="content">
                                    <p id="add-message-login"></p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="actions">
                        <div class="ui green animated button" ng-click="AddLogin()" tabindex="0">
                            <div class="visible content">Add</div>
                            <div class="hidden content">
                                <i class="plus icon"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <!--edit login popup-->
                <div class="ui mini modal editloginPopup" id="inputPopup">
                    <i class="close icon"></i>
                    <div class="header">
                        Edit Login
                    </div>
                    <div class="content">
                        <form class="ui tiny form">
                            <div class="field">
                                <div class="ui big left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" name="Loginname" placeholder="Loginname" class="form-control" ng-model="LoginEdit.name" autocomplete="off" disabled>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui big action left icon input">
                                    <i class="lock icon"></i>
                                    <input name="LoginPassword" autocomplete="off" placeholder="Password" class="form-control" ng-keydown="$event.keyCode === 13 && $event.preventDefault()" ng-model="LoginEdit.password" required ng-attr-type="{{ showPassword ? 'text' : 'password' }}" />
                                    <button type="button" class="ui icon button" ng-click="toggleShowPassword()">
                                        <i ng-class="{'eye icon': !showPassword,'eye slash icon': showPassword}"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="ui red message" id="edit-message-container-login" style="display:none">
                                <div class="content">
                                    <p id="edit-message-login"></p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="actions">
                        <div class="ui green animated button" ng-click="editLogin()" tabindex="0">
                            <div class="visible content">Edit</div>
                            <div class="hidden content">
                                <i class="pencil alternate icon"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Delete popup-->
                <div class="ui mini modal deleteloginPopup" id="inputPopup">
                    <i class="close icon"></i>
                    <div class="header">
                        Delete Login
                    </div>
                    <div class="content">
                        <form class="ui tiny form">
                            <div class="field">
                                <label style="text-align: center;">Are you sure want to delete this login?</label>
                            </div>
                        </form>
                    </div>
                    <div class="actions">
                        <button class="ui labeled red icon button" ng-click="deleteLogin()">
                            <i class="trash alternate icon"></i>
                            Delete
                        </button>
                        <button class="ui button" ng-click="hideDeleteLoginPopup()">No</button>
                    </div>
                </div>


                <div class="card main-card">
                    <div class="card-header">

                        <div class="ui green floating dropdown labeled icon button" ng-click="dropdownshowUsers()" style="float: left" id="suDropdown">
                            <select class="ui search selection dropdown" ng-model="selectedOption2" ng-click="dropdownshowUsers()" ng-change="changeFlags()">
                                <option class="item" ng-repeat="option in options2" value="{{option.name}}">{{option.name}}</option>
                            </select>
                            <i class="angle right icon"></i>
                            <input type="hidden" ng-model="selectedOption2" style="color: white; font-weight: bold;">
                            <div class="default text">Select</div>
                            <div class="menu">
                                <div class="item" ng-repeat="option in options2" data-value="{{option.name}}">{{option.name}}</div>
                            </div>
                        </div>

                        <div class="row-fluid" ng-show="ShowLogin" style="float: left; border-left: 2px solid grey; padding-left: 14px; margin-left: 10px; ">
                            <button class="ui green labeled icon button" ng-click="showAddLoginPopup()">
                                <i class="plus icon"></i>
                                Add Login
                            </button>
                        </div>

                        <div class="ui blue floating dropdown labeled search icon button" ng-click="dropdownDatabase()" ng-show="ShowUser" style="float: left" ng-init="getDatabaseList()" id="dbDropdown">
                            <select class="ui search selection dropdown" ng-model="Database.name" ng-click="dropdownDatabase()" ng-change="GetUser()">
                                <option class="item" ng-repeat="d in DatabaseList" value="{{d.name}}">{{d.name}}</option>
                            </select>
                            <i class="database icon"></i>
                            <input type="hidden" ng-model="Database.name" style="color: white; font-weight: bold;">
                            <div class="default text">Select Database</div>
                            <div class="menu">
                                <div class="item" ng-repeat="d in DatabaseList" data-value="{{d.name}}">{{d.name}}</div>
                            </div>
                        </div>
                        <div class="row-fluid" ng-show="ShowUser" style="float: left; border-left: 2px solid grey; padding-left: 14px; margin-left: 10px; ">
                            <button class="ui green labeled icon button" ng-click="showAddPopup()">
                                <i class="plus icon"></i>
                                Add User
                            </button>
                        </div>
                        <h3 style="margin-bottom: 0; margin-top: 0px; padding-top: 6px"><i class="user circle icon" style=" font-size: 1.5em; vertical-align: middle;"></i>User Management</h3>
                    </div>
                    <div class="card-block scrollbar" id="table-parent-container" ng-show="showUserTableflag">
                        <div class="table-responsive">
                            <table class="ui striped table green main-table selectable" id="example-2" ng-table="UserParams" show-filter="true">
                                <tbody>
                                    <tr ng-repeat="User in $data">
                                        <td data-title="'Sr.No'" filter="{$index: 'text'}" sortable="'$index'" style="border-top:none;"><label>{{ $index + 1 }}</label></td>
                                        <td data-title="'User Name'" filter="{UserName: 'text'}" sortable="'UserName'" style=" border-top: none;"><label>{{User.UserName}}</label></td>
                                        <td data-title="'Login Name'" filter="{LoginName: 'text'}" sortable="'LoginName'" style=" border-top: none;"><label>{{User.LoginName}}</label></td>
                                        <td data-title="'Create Date'" filter="{Create Date: 'text'}" sortable="'Create Date'" style=" border-top: none;"><label>{{ User.CreatedOn.slice(6, -2) | date: 'yyyy-MM-dd HH:mm:ss' }}</label></td>
                                        <td data-title="'Actions'" style=" border-top: none;">
                                            <div layout="row">
                                                <span flex></span>
                                                <button class="ui icon red button" ng-click="showDeletePopup(User)" data-inverted="" data-tooltip="Delete User '{{User.UserName}}'" data-position="top right" style="border-radius: 15px; padding: 13.5px" fdprocessedid="lha97d">
                                                    <i class="trash alternate icon"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card-block scrollbar" id="table-parent-container" ng-show="ShowLogin">
                        <div class="table-responsive">
                            <table class="ui striped table green main-table selectable" id="example-2" ng-table="LoginParams" show-filter="true">
                                <tbody>
                                    <tr ng-repeat="Login in $data">
                                        <td data-title="'Sr.No'" filter="{$index: 'text'}" sortable="'$index'" style="border-top:none;"><label>{{ $index + 1 }}</label></td>
                                        <td data-title="'Login Name'" filter="{name: 'text'}" sortable="'name'" style=" border-top: none;"><label>{{Login.name}}</label></td>
                                        <td data-title="'Create Date'" filter="{create_date: 'text'}" sortable="'create_date'" style=" border-top: none;"><label>{{ Login.create_date.slice(6, -2) | date: 'yyyy-MM-dd HH:mm:ss' }}</label></td>
                                        <td data-title="'Modify Date'" filter="{modify_date: 'text'}" sortable="'modify_date'" style=" border-top: none;"><label>{{ Login.modify_date.slice(6, -2) | date: 'yyyy-MM-dd HH:mm:ss' }}</label></td>
                                        <td data-title="'Actions'" style=" border-top: none;">
                                            <div layout="row">
                                                <span flex></span>
                                                <button class="ui icon blue button" ng-click="modifyLogin(Login)" data-inverted="" data-tooltip="Edit Login '{{Login.name}}'" data-position="top right" style="border-radius: 15px; padding: 13.5px" fdprocessedid="lha97d">
                                                    <i class="pencil alternate icon"></i>
                                                </button>
                                                <button class="ui icon red button" ng-click="showDeleteLoginPopup(Login)" data-inverted="" data-tooltip="Delete Login '{{Login.name}}'" data-position="top right" style="border-radius: 15px; padding: 13.5px" fdprocessedid="lha97d">
                                                    <i class="trash alternate icon"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
