<style>
    .cardcontainer {
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        background-image:url("../../../assets/images/login-bg.jpg"); opacity:.8;
        align-items: center;
    }

    .cardstyle {
        width: 300px;
        height: 320px;
        align-items:center;
        justify-content:center;
        box-shadow: 1px 1px 4px 4px black;
    }
</style>

<div>
    <!-- Page body start -->
    <div class="page-body" ng-controller="UserLoginCtrl">
        <div class="card">
            <div class="card-header">
                <div>
                    <div class="float-left"> <h4>INFRA MANAGEMENT CONSOLE</h4></div>
                </div>
            </div>
            <div class="cardcontainer">
                <md-card class="cardstyle">
                    <form>
                        <div class="form-group row" style="justify-content:center; margin-bottom:50px;">
                            <label style="color:orangered; font-family:'Berlin Sans FB'; font-size:x-large">LOGIN</label>
                        </div>
                        <div class="form-group row">
                            <label style="width:90px;" class="col-form-label">Username<span style="color:red">*</span>:</label>
                            <div style="width:160px;">
                                <input type="text" name="Username" class="form-control" ng-model="loginObj.username" placeholder="Type Username" required />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label style="width:90px;" class="col-form-label">Password<span style="color:red">*</span>:</label>
                            <div style="width:160px;">
                                <input type="password" name="Password" class="form-control" ng-model="loginObj.password" placeholder="Type Password" required />
                            </div>
                        </div>




                        <div class="form-group row" style="justify-content:center; align-items:center; margin-top:30px;">
                            <button class="tabledit-edit-button btn btn-primary waves-effect waves-light" ng-click="login()">Sign In</button>
                            <!--<button class="btn btn-dribbble" ng-click="ClearUser()">Clear</button>-->
                        </div>
                    </form>
                </md-card>
            </div>
        </div>
    </div>
    <!-- Page body end -->
</div>