
<div class="section-body" style="position: fixed; bottom: 0px; width:inherit;">

    <div style="position:fixed; bottom:0px; width:78.2%; background-color:white; border-top:dotted 1px grey; padding:10px;">

        <div class="row">
            <div class="col-md-6 col-sm-12" style="padding-left:20px;">
                Copyright © 2020 <a href=""></a>.
            </div>
            <div class="col-md-6 col-sm-12 text-md-right" style="padding-right:20px;">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="mail:mail@gmail.com">mail@gmail.com</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>