<div>
    <nav class="pcoded-navbar" id="main-navbar" pcoded-header-position="relative" style="background-color: white; border-radius:15px; margin:15px; height: auto; max-height: 96vh">
        <div class="pcoded-inner-navbar main-menu sidebar-main-screen sidebar-expanded" style="background-color: white; border-radius: 15px; border: 1px solid green; height: auto; max-height: 96vh; padding-top: 30px">
            <div style="" class="parent-menu">
                <div class="sidebar_toggle" style="float: left"><a style=" padding-right: 18px !important; background: #8080801f; border-radius: 15px; margin: 0 15px 15px 15px; padding: 15px"><i class="bars icon" style="padding-left: 6px !important; color: green; padding: 4px"></i><span class="pcoded-mtext" style="margin-left: 4px">Collapse</span></a></div>
            </div>
            <div class="main-menu-header" style="background-color: #20bb40ad; border-radius: 15px; margin: 50px 15px 15px 15px ">
                <img class="img-50" src="assets/images/user.png" alt="User-Profile-Image">
                <div class="user-details">
                    <span style="color: black"><b>Admin</b></span>
                    <hr>
                    <div class="ui animated button secondary" tabindex="0" onclick="location.href='#!'">
                        <div class="visible content" onclick="location.href='#!'">Logout</div>
                        <div class="hidden content" onclick="location.href='#!'">
                            <i class="sign-out icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="pcoded-item pcoded-left-item scrollbar" style="margin-top: 15px; overflow: scroll; max-height: 75vh; overflow-x: hidden;">
                <li ng-class="{active: $state.includes(item.state)} scrollbar" class="parent-menu" ng-repeat="item in menuItems" ng-click="toggleSubmenu(item, menuItems, $event)" style="background: #8080801f; border-radius: 15px; margin: 0 15px 15px 15px;">
                    <a ui-sref="{{item.state}}" style="border-radius: 15px; padding-top: 15px" title="{{item.name}}">
                        <span class="pcoded-micon"><i class="{{item.icon}}" style="font-size: 1.5rem;"></i></span>
                        <span class="pcoded-mtext" data-i18n="nav.widget.main" style="color:black">{{item.name}}</span>
                        <span class="pcoded-mcaret"><i ng-if="item.hasSubmenu && !item.expanded" style="float: right" class="bi bi-caret-down-fill"></i></span>
                    </a>
                    <ul class="pcoded-item pcoded-left-item subitem" on style="margin: 0 !important">
                        <li ng-repeat="subitem in item.subitems" ng-init="slideUpMenu()" ng-class="{active: $state.includes(item.state)}" style="margin: 0 !important">
                            <a ui-sref="{{subitem.state}}" style="border-radius: 15px; margin: 5px 10px 5px 10px" title="{{subitem.name}}">
                                <span class="pcoded-micon"><i class="{{subitem.icon}}" style="font-size: 1.5rem;"></i></span>
                                <span class="pcoded-mtext" data-i18n="nav.widget.main" style="color:black">{{subitem.name}}</span>
                                <span class="pcoded-mcaret"></span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>