<div>
    <nav class="pcoded-navbar" pcoded-header-position="relative">
        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
        <div class="pcoded-inner-navbar main-menu">
            <div class="">
                <div class="main-menu-header">
                    <img class="img-40" src="assets/images/user.png" alt="User-Profile-Image">
                    <div class="user-details">
                        <span>Admin</span>
                        <span>Administration</span>
                    </div>
                </div>

                
            </div>

            <ul class="pcoded-item pcoded-left-item">
                <li ng-class="{active: $state.includes(menuItem.state)}" ng-repeat="menuItem in menuItemList">
                    <a ui-sref="{{menuItem.state}}">
                        <span class="pcoded-micon"><i class="{{menuItem.icon}}"></i></span>
                        <span class="pcoded-mtext" data-i18n="nav.widget.main">{{menuItem.displayName}}</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!--<div class="striped-bg" id="sidenav" style="background:#333;">
        <div id="navTabs">
            <div class="sidebar-controllers sidebar-top-nav">
                <tabset justified=true>
                    <tab active=tabActive[0]>
                        <menu></menu>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>-->
</div>
