<div class="back">
    <!--<div class="errors col-sm-8 col-sm-offset-2"></div>-->
    <div class="login-outer">
        <div class="login-wrap">
            <div class="login-left striped-bg text-center">
                <a ui-sref="home" class="logo-lg"> 
                    <img src="../../../img/logo.png" style="width:200px;" />
                    <br />
                   Paramarsh
                </a>
                <div class="slogan"><!--Pixel Level Precision--></div>
            </div>
            <div class="login-right striped-bg">
                <div ui-view=""></div>
            </div>
        </div>
    </div>
</div>